<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
	<test name="TestNG-test">
		<packages>
			<package name="moviebase" />
		</packages>
	</test>
	<test name="JUnit-test" junit="true">
		<packages>
			<package name="moviebase"></package>
		</packages>
	</test>
</suite>
