<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
	<test name="TestNG-test">
		<packages>
			<package name="com.vmware.moviebase" />
		</packages>
	</test>
	<test name="JUnit-test" junit="true">
		<package name="com.vmware.moviebase"></package>
	</test>
</suite>
